---
type Props = {
	title: string;
	company: string;
	companyUrl: string;
	location: string;
	startDate: string;
	endDate: string;
	languages: {
		url: string;
		name: string;
	}[];
	description: string | string[];
};

const { title, company, companyUrl, location, startDate, endDate, languages, description } = Astro.props;
---

<article class="sidebar">
	<small style="padding-top: 0.15rem;">
		<strong>{startDate} – {endDate}</strong>
	</small>
	<div class="stack gap:-1">
		<h5>{title}, {company}</h5>
		<p>{Array.isArray(description) ? description.map((paragraph) => <p>{paragraph}</p>) : description}</p>
		<div class="cluster" data-justify="flex-start">
			{
				languages.map((language) => (
					<a href={language.url} target="_blank">
						<small>{language.name}</small>
					</a>
				))
			}
		</div>
	</div>
</article>

<style>
	p {
		max-width: 55ch !important;
	}

	strong {
		color: var(--txt-2);
	}

	h5 {
		color: var(--txt-1);
	}
</style>
