---
type Props = {
	title: string;
	company: string;
	companyUrl: string;
	location: string;
	startDate: string;
	endDate: string;
	languages: {
		url: string;
		name: string;
	}[];
	description: string | string[];
};

const { title, company, companyUrl, location, startDate, endDate, languages, description } = Astro.props;
---

<article class="sidebar">
	<small style="padding-top: 0.15rem;">
		<strong>{startDate} – {endDate}</strong>
	</small>
	<div class="stack gap:0">
		<h5>{title}, {company}</h5>
		<p>{Array.isArray(description) ? description.map((paragraph) => <p>{paragraph}</p>) : description}</p>
		<div class="cluster" data-justify="flex-start">
			{
				languages.map((language) => (
					<a href={language.url} target="_blank">
						{language.name}
					</a>
				))
			}
		</div>
	</div>
</article>

<style>
	p {
		max-width: 55ch !important;
	}

	article {
		padding: 1rem;
		transition:
			background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
			transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
		border: 1px solid transparent;
		border-radius: 0.75rem;
	}

	/* article:hover {
		background-color: hsla(229, 27%, 08%, 0.35);
		backdrop-filter: blur(1rem);
		border-radius: 0.75rem;
		border: 1px solid rgba(255, 255, 255, 0.08);
	} */
	/* box-shadow: 0 8px 32px 0 hsla(186, 100%, 24%, 0.35); */

	strong {
		color: var(--txt-2);
	}

	h5 {
		color: var(--txt-1);
	}
</style>
