---
import MainLayout from "@lib/layout/MainLayout.astro";

type UsesItem = {
	name: string;
	icon: string;
};

type UsesCategory = {
	title: string;
	items: UsesItem[];
};

const categories: UsesCategory[] = [
	{
		title: "Hardware",
		items: [
			{
				name: "MacBook Pro M1",
				icon: "/assets/icons/macbook.svg",
			},
			{
				name: "iPad Air 5",
				icon: "/assets/icons/macbook.svg",
			},
			{
				name: "iPhone 15 Pro Max",
				icon: "/assets/icons/macbook.svg",
			},
		],
	},
	{
		title: "Software",
		items: [
			{
				name: 'MacBook Pro 14"',
				icon: "/assets/icons/macbook.svg",
			},
			{
				name: 'MacBook Pro 14"',
				icon: "/assets/icons/macbook.svg",
			},
			{
				name: 'MacBook Pro 14"',
				icon: "/assets/icons/macbook.svg",
			},
		],
	},
	{
		title: "Productivity",
		items: [
			{
				name: 'MacBook Pro 14"',
				icon: "/assets/icons/macbook.svg",
			},
			{
				name: 'MacBook Pro 14"',
				icon: "/assets/icons/macbook.svg",
			},
		],
	},
];

const title = "Uses";
const subtitle = "What's in my toolbox? 🧰";
---

<MainLayout {title} {subtitle}>
	<p>
		Here's a list of the hardware and software I use on a daily basis.
		<br />
		Inspired by <a href="https://uses.tech/">uses.tech</a>. This list is not exhaustive and will be updated
		regularly.
	</p>
	<hr />
	<div class="stack gap:2">
		{
			categories.map(({ title, items }, i) => (
				<article>
					<h2>{title}</h2>
					<div class="cluster mt:3 gap:0">
						{items.map(({ name, icon }) => (
							<div class="box item">
								<img src={icon} alt="" />
								<p class="fs:sm">{name}</p>
							</div>
						))}
					</div>
				</article>
			))
		}
	</div>
</MainLayout>

<style>
	hr {
		margin-block: var(--space-xl);
	}

	.item {
		--padding: var(--space-xs);
		--radius: var(--radius-xs);
	}

	.item p {
		line-height: 1.1;
	}
</style>
